*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Verdana;
}

/*Header is de balk met de 3 lijntjes en de logo*/
#header {
    background-color: #ededed;
    padding: 15px 30px;
    display: relative;
    align-items: center;
    position: relative;
    left: 0;
    transition: 0.3s left;
}

/*Image in de header*/
#header img{
    float: right;
    position: relative;
    bottom: 38px;
}

/*Checkbox die niet gedisplayed word*/
#toggle {
    display: none;
}

/*dit gebeurd er met de content als de box checked is*/
#toggle:checked~#content {
    left: 240px;
}

/*dit gebeurd er met de menu als de box checked is*/
#toggle:checked~#menu {
    left: 0px;
}

/*dit gebeurd er met de header als de box checked is*/
#toggle:checked~#header {
    left: 240px;
}

/*Menu met de knoppen logout etc*/
#menu {
    position: fixed;
    left: -240px;
    top: 0;
    bottom: 0;
    width: 240px;
    background-color: rgb(44,40,127);
    transition: 0.3s left;
}

/*Menu styling*/
#menu ul {
    padding: 0px;
    margin: 0;
    list-style: none;
}

/*Menu styling*/
#menu>ul>li>a {
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    color: white;
}

/*Menu styling*/
#menu img{
    padding: 6px;
    position: center;
}

/*Menu styling*/
#menu>ul>li>a:hover {
    background-color: #504d95;
}

label[for=toggle] {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
}

label[for=toggle] span{
    display: block;
    height: 5px;
    background-color: #6c6c6c;
    border-radius: 2px;
    width: 30px;
}

/*Dit is het witte gebied waarin de grafieken komen*/
#content {
    position: relative;
    left: 0px;
    transition: 0.3s left;
}

/*grid settings*/
.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 30px;
    grid-row-gap: 2em;
    grid-column-gap: 2em;
    padding-right: 40px;
    padding-top: 1em;
    padding-left: 40px;
    padding-left: 25px;
}
/*Positioning div content in content*/
.grid div {
    /*border: 5px solid gray;*/
    padding: 10px;
    /*overflow: auto;*/
    /*margin: 10px;*/
}
/**/
#map {
    height: 100%;
}


@media only screen and (max-width: 1100px) {

    .grid {
        display: grid;
        grid-template-columns: 100%;
        margin: 30px;
        grid-row-gap: 2em;
        grid-column-gap: 2em;
        padding-right: 40px;
        padding-top: 1em;
        padding-left: 40px;
        padding-left: 25px;
    }
}